idea
.eslintcache
eslintcache
package-lock.json
yarn.lock
node_modules
.idea
.vscode
vscode

# dependencies
uni-sim-2021/node_modules
uni-sim-2021/.pnp
uni-sim-2021.pnp.js

# testing
uni-sim-2021/coverage

# production
uni-sim-2021/build

# misc
uni-sim-2021/.DS_Store
uni-sim-2021/.env.local
uni-sim-2021/.env.development.local
uni-sim-2021/.env.test.local
uni-sim-2021/.env.production.local

uni-sim-2021/npm-debug.log*
uni-sim-2021/yarn.lock
uni-sim-2021/yarn-debug.log*
uni-sim-2021/yarn-error.log*



.firebaserc
build
firebase.json
.firebase/hosting.YnVpbGQ.cache


package-lock.json
