.Game {

}

.background-house {
    position: absolute;
    top: 40px;
    z-index: -1;
    height: 896px;
    overflow: hidden;
}
.background-image {
    height: 844px;
    position: absolute;
    object-fit: cover;
    top: 92px;
    z-index: -1;
}


.flex-grid-roof {
    display: flex;
    width: 32%;
    margin: auto;
    padding-right: 30px;
    padding-top: 18px;
}

.flex-grid-body {
    display: flex;
    width: 74%;
    margin: auto;
    padding-left: 50px;
}
.col {
    flex: 1;
}
.house-spacer-3rd {
    height: 145px
}
.house-spacer-2nd {
    height: 68px
}
.house-spacer-1st {
    height: 270px
}
.room-decoration {
    position: fixed;
    height: 200px;
    cursor: pointer;
}