.Game {

}

.background-house {
    position: fixed;
    top: 40px;
    z-index: -9;
    width: 300%;
    height: 180%;
}

.flex-grid {
    display: flex;
    width: 57%;
    margin: auto;
    padding-left: 35px;
}
.col {
    flex: 1;
}
.house-spacer-2nd {
    height: 71px
}
.house-spacer-1st {
    height: 195px
}
.room-decoration {
    position: fixed;
    height: 200px;
    cursor: pointer;
}