.Shop {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    /* padding: 13px 20px 20px 20px; */
    align-items: flex-start;
}

.ShopContainer{
    display: flex;
    flex-direction: column;
}

.ShopSectionHeader{
    align-self: center;
    width: 100%;
    text-align: center;
    background-color: white;
}

.ProfBumper {
    transition: transform .2s;
    cursor: pointer;
}

.ProfBumper:hover {
    transform: scale(1.02);
}
