.Room {

}

.locked-room {
    width: 150px;
    height: 150px;
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
}
.locked-room:hover {
    transform: scale(1.05);
}

.unlocked-room {
    width: 150px;
    height: 150px;
    position: absolute;
    cursor: pointer;
    /* background-color: rgba(69, 69, 69, 0.35); */
    transition: transform .2s;
}
.unlocked-room:hover {
    transform: scale(1.05);
}


.roof-1st {
    width: 190px;
    height: 130px;
}
.roof-2nd {
    height: 106px;
    width: 180px;
}

.room-modal {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.room-modal-content {
    border: 2px solid #000;
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    background-color: #707071;
}

.prof-img {
    width: 200px;
    height: 250px;
}

.unlocked-img{ /*TODO: Fix image size*/
    
    position: absolute;
    cursor: pointer;
    transition: transform .2s;
}

#room1{
    width: 95%;
    height: 110%;
}

#room2{
    width: 80%;
    height: 120%;
    margin-right: 20;
}

#room3{
    width: 100%;
    height: 110%;
    margin-left: 5%;
}
#room4{
    width: 100%;
    height: 150%;
    margin-top: 10%;
}
#room5{
    width: 100%;
    height: 140%;
    margin-top: 25%;
}
#room6{
    width: 100%;
    height: 150%;
    margin-top: 10%;
}
#room7{
    width: 100%;
    height: 150%;
    margin-top: 10%;
}
#room8{
    width: 100%;
    height: 110%;
    margin-top: 10%;
}
#room9{
    width: 100%;
    height: 120%;
    margin-top: 10%;
}
#room10{
    width: 100%;
    height: 120%;
    margin-top: 10%;
}
#room11{
    width: 100%;
    height: 120%;
    margin-top: 10%;
}
#room12{
    width: 100%;
    height: 100%;
    margin-top: 20%;
}
#room13{
    width: 100%;
    height: 110%;
    margin-top: 10%;
}