.spacer {
  height: 30px;
}

.login-header {
  padding-top: 30px;
  text-align: center;
}
.background-image {
  max-height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0px;
  z-index: -10;
}

.main-container {
  width: 1350px;
  height: 935px;
  margin: auto;
}